.footer__standard {
    position: absolute;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    height: var(--height-pagination);
    /* background-color: aqua; */
    box-shadow: 0 0 5px #b1b1b1;
}

 .standard__total {
    margin-left: 16px;
}

.standard__btns .btn__save {
    margin-left: 8px;
    margin-right: 16px;
}