.dx-state-focused {
    border-color: var(--active-border-input) !important;
}

.dx-state-active {
    border-color: var(--active-border-input) !important;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-list-item-selected {
    background-color: var(--row-focus-color-on-grid-color) !important;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
    background-color: var(--hover-color) !important;
}

.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
    background-color: transparent !important;
}

.dx-checkbox-indeterminate .dx-checkbox-icon::before {
  background-color: #0fa655 !important;
}

.dx-list.dx-list-select-decorator-enabled .dx-list-item.dx-state-focused .dx-checkbox-icon,
.dx-list.dx-list-select-decorator-enabled .dx-list-select-all.dx-state-focused .dx-checkbox-icon {
  border-color:#0fa655 !important;
}